name: smashlibs
description: Libs and utilities used by the SMASH digital field mapping project.

# Copyright (c) 2019-2020. www.hydrologis.com. All rights reserved.
# Use of this source code is governed by a GPL3 license that can be
# found in the LICENSE file.
version: 1.0.0

publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"
  

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  intl: '>=0.16.1 <=0.18.0'

  ##################
  # OWN
  #################

  #BSD
  dart_jts: ^0.2.0
    # path: ../dart_jts/
  #    git:
  #      url: https://github.com/moovida/dart_jts.git

  dart_hydrologis_utils: ^0.6.1
    # path: ../dart_hydrologis_utils/

  dart_hydrologis_db: ^1.0.0
    # path: ../dart_hydrologis_db/
  # git:
  #  url: https://github.com/moovida/dart_hydrologis_db.git

  # apache 2
  geoimage: ^0.2.0

  # apache 2
  flutter_geopackage: ^0.6.1
  # path: ../flutter_geopackage/
  #  git:
  #    url: https://github.com/moovida/flutter_geopackage.git
  
  dart_postgis: ^0.3.1
  # path: /home/hydrologis/development/SMASH/dart_postgis/
  # git:
  #   url: https://github.com/moovida/dart_postgis
  
  dart_shp: ^1.0.1
  
 ##################################
  # OTHERS MAPS RELATED
  ##################################
  # MIT
  # this also pulls flutter_map_dragmarker
  flutter_map_line_editor: ^4.1.0

  # BSD
  flutter_map: ^4.0.0

  flutter_map_marker_cluster: ^1.1.1

  # MIT
  lat_lon_grid_plugin: ^0.2.6
    # git:
    #   url: https://github.com/moovida/lat_lon_grid_plugin.git
    #   ref: bump_flutter_map_to_1

  mapsforge_flutter: #^2.0.1
    # path: /home/hydrologis/development/SMASH/mapsforge_flutter_moovida/mapsforge_flutter
    git:
    #   url: https://github.com/mikes222/mapsforge_flutter.git
      url: https://github.com/moovida/mapsforge_flutter.git
      path: mapsforge_flutter
      ref: smash_compats

  # apache
  latlong2: ^0.8.1

  xml: ^6.1.0 #'>=4.5.1 <=5.3.1'

  # Apache 2.0
  gpx: ^2.1.0

  # MIT
  geojson_vi: ^2.1.0

  # BSD  rainbow_vis: 1.0.3
  rainbow_color: 2.0.1

  ####################
  # OTHERS
  ####################
  # BSD
  # charset_converter: ^1.0.3
  # MIT
  material_design_icons_flutter: ^6.0.7096
  
  # MIT
  share_extend: ^2.0.0
  # BSD
  path_provider: ^2.0.11
  
  # MIT (possible substitute external_path)
  path_provider_ex: #^1.0.1
    git:
      url: https://github.com/atrope/flutter_path_provider_ex.git
      ref: feature/nullsafemigration
  # MIT
  proj4dart: ^2.1.0
  # MIT
  dio: ^5.1.1
  # MIT
  permission_handler: ^10.2.0
    # git: 
    #   url: https://github.com/Baseflow/flutter-permission-handler.git
    #   path: permission_handler

  # BSD
  device_info_plus: ^8.0.0
  # MIT
  after_layout: ^1.2.0

  # BSD
  url_launcher: ^6.1.5

  # MIT
  flutter_tags_x: ^1.1.0

  # MIT
  flutter_material_pickers: ^3.5.0
    # git:
    #   url: https://github.com/moovida/flutter_material_pickers.git
    #   ref: 1b9f72c

  # BSD
  shared_preferences: ^2.0.15
  # MIT
  flutter_screen_wake: ^1.0.2
  # ON ANDROID NEEDS:
  # <uses-permission android:name="android.permission.WAKE_LOCK" />

  #BSD
  image_picker: ^0.8.7+5
  # ON IOS NEEDS:
  #  <key>NSPhotoLibraryUsageDescription</key>
  #  <string>The app needs to access the photo library to attach media to the survey.</string>
  #  <key>NSCameraUsageDescription</key>
  #  <string>The app needs to use the camera to take picture notes during the field mapping activity.</string>
  #  <key>NSMicrophoneUsageDescription</key>
  #  <string>The app needs to use the camera to take vocal notes during the field mapping activity.</string>

  

dev_dependencies:
  lints: ^1.0.1
  test: ^1.20.1

  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  assets:
    - assets/fonts/OpenSans-Regular.ttf
    - assets/fonts/OpenSans-Bold.ttf
    - assets/fonts/OpenSans-Italic.ttf
    - assets/fonts/OpenSans-BoldItalic.ttf
    - assets/tags.json
    - assets/emptytile256.png
    - assets/maptools_icon.png
    - assets/smash_icon.png
    - assets/smash_logo_64.png
    - assets/smash_text.png
    - assets/defaultrender.xml
    - packages/mapsforge_flutter/assets/patterns/coniferous.svg
    - packages/mapsforge_flutter/assets/patterns/coniferous_and_deciduous.svg
    - packages/mapsforge_flutter/assets/patterns/deciduous.svg
    - packages/mapsforge_flutter/assets/patterns/farmland.svg
    - packages/mapsforge_flutter/assets/patterns/grass.svg
    - packages/mapsforge_flutter/assets/patterns/hills.svg
    - packages/mapsforge_flutter/assets/patterns/quarry.svg
    - packages/mapsforge_flutter/assets/patterns/scrub.svg
    - packages/mapsforge_flutter/assets/patterns/swamp.svg
    - packages/mapsforge_flutter/assets/patterns/access-destination.png
    - packages/mapsforge_flutter/assets/patterns/access-private.png
    - packages/mapsforge_flutter/assets/patterns/arrow.png
    - packages/mapsforge_flutter/assets/patterns/cemetery.png
    - packages/mapsforge_flutter/assets/patterns/deciduous.svg
    - packages/mapsforge_flutter/assets/patterns/dot.png
    - packages/mapsforge_flutter/assets/patterns/farmland.svg
    - packages/mapsforge_flutter/assets/patterns/grass.svg
    - packages/mapsforge_flutter/assets/patterns/hills.svg
    - packages/mapsforge_flutter/assets/patterns/marsh.png
    - packages/mapsforge_flutter/assets/patterns/military.png
    - packages/mapsforge_flutter/assets/patterns/nature-reserve.png
    - packages/mapsforge_flutter/assets/patterns/pike.png
    - packages/mapsforge_flutter/assets/patterns/quarry.svg
    - packages/mapsforge_flutter/assets/patterns/rail.png
    - packages/mapsforge_flutter/assets/patterns/scrub.svg
    - packages/mapsforge_flutter/assets/patterns/swamp.svg
    - packages/mapsforge_flutter/assets/patterns/wood-coniferous.png
    - packages/mapsforge_flutter/assets/patterns/wood-deciduous.png
    - packages/mapsforge_flutter/assets/patterns/wood-mixed.png
    - packages/mapsforge_flutter/assets/symbols/bench.svg
    - packages/mapsforge_flutter/assets/symbols/cable_car.svg
    - packages/mapsforge_flutter/assets/symbols/chair_lift.svg
    - packages/mapsforge_flutter/assets/symbols/dot_black.svg
    - packages/mapsforge_flutter/assets/symbols/dot_blue.svg
    - packages/mapsforge_flutter/assets/symbols/dot_blue_dark.svg
    - packages/mapsforge_flutter/assets/symbols/dot_magenta.svg
    - packages/mapsforge_flutter/assets/symbols/dot_white.svg
    - packages/mapsforge_flutter/assets/symbols/gondola.svg
    - packages/mapsforge_flutter/assets/symbols/oneway.svg
    - packages/mapsforge_flutter/assets/symbols/peak.svg
    - packages/mapsforge_flutter/assets/symbols/railway-crossing-small.svg
    - packages/mapsforge_flutter/assets/symbols/railway-crossing.svg
    - packages/mapsforge_flutter/assets/symbols/traffic_signal.svg
    - packages/mapsforge_flutter/assets/symbols/volcano.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/alpinehut.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/camping.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/caravan_park.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/chalet.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/hostel.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/hotel2.svg
    - packages/mapsforge_flutter/assets/symbols/accommodation/shelter2.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/firestation3.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/fountain2.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/library.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/playground.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/police2.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/post_box.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/post_office.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/recycling.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/telephone.svg
    - packages/mapsforge_flutter/assets/symbols/amenity/toilets.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/blocks.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/bollard.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/cycle_barrier.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/gate.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/lift_gate.svg
    - packages/mapsforge_flutter/assets/symbols/barrier/stile.svg
    - packages/mapsforge_flutter/assets/symbols/custom/amenity/fountain2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/amenity/library.svg
    - packages/mapsforge_flutter/assets/symbols/custom/amenity/toilets.svg
    - packages/mapsforge_flutter/assets/symbols/custom/money/atm2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/archaeological2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/attraction.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/castle2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/cinema2.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/information.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/memorial.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/monument.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/museum.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/ruin.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/theatre.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/view_point.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/windmill.svg
    - packages/mapsforge_flutter/assets/symbols/custom/tourist/zoo.svg
    - packages/mapsforge_flutter/assets/symbols/education/nursery3.svg
    - packages/mapsforge_flutter/assets/symbols/education/school.svg
    - packages/mapsforge_flutter/assets/symbols/education/university.svg
    - packages/mapsforge_flutter/assets/symbols/food/bar.svg
    - packages/mapsforge_flutter/assets/symbols/food/biergarten.svg
    - packages/mapsforge_flutter/assets/symbols/food/cafe.svg
    - packages/mapsforge_flutter/assets/symbols/food/drinkingtap.svg
    - packages/mapsforge_flutter/assets/symbols/food/fastfood.svg
    - packages/mapsforge_flutter/assets/symbols/food/pub.svg
    - packages/mapsforge_flutter/assets/symbols/food/restaurant.svg
    - packages/mapsforge_flutter/assets/symbols/health/doctors2.svg
    - packages/mapsforge_flutter/assets/symbols/health/hospital.svg
    - packages/mapsforge_flutter/assets/symbols/health/pharmacy.svg
    - packages/mapsforge_flutter/assets/symbols/money/atm2.svg
    - packages/mapsforge_flutter/assets/symbols/money/bank2.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/buddhist.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/christian.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/hindu.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/islamic.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/jewish.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/shinto.svg
    - packages/mapsforge_flutter/assets/symbols/place_of_worship/unknown.svg
    - packages/mapsforge_flutter/assets/symbols/poi/cave.svg
    - packages/mapsforge_flutter/assets/symbols/poi/embassy2.svg
    - packages/mapsforge_flutter/assets/symbols/poi/mountain_pass.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/alcohol.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/bakery.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/bicycle.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/book.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/butcher.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/car_repair.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/convenience.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/diy.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/greengrocer.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/laundrette.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/marketplace.svg
    - packages/mapsforge_flutter/assets/symbols/shopping/supermarket.svg
    - packages/mapsforge_flutter/assets/symbols/sport/golf.svg
    - packages/mapsforge_flutter/assets/symbols/sport/shooting.svg
    - packages/mapsforge_flutter/assets/symbols/sport/soccer.svg
    - packages/mapsforge_flutter/assets/symbols/sport/stadium.svg
    - packages/mapsforge_flutter/assets/symbols/sport/swimming_outdoor.svg
    - packages/mapsforge_flutter/assets/symbols/sport/tennis.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/archaeological2.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/attraction.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/castle2.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/cinema2.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/information.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/memorial.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/monument.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/museum.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/picnic.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/ruin.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/theatre.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/view_point.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/windmill.svg
    - packages/mapsforge_flutter/assets/symbols/tourist/zoo.svg
    - packages/mapsforge_flutter/assets/symbols/transport/airport2.svg
    - packages/mapsforge_flutter/assets/symbols/transport/bus_station.svg
    - packages/mapsforge_flutter/assets/symbols/transport/bus_stop.svg
    - packages/mapsforge_flutter/assets/symbols/transport/fuel.svg
    - packages/mapsforge_flutter/assets/symbols/transport/helicopter.svg
    - packages/mapsforge_flutter/assets/symbols/transport/lighthouse.svg
    - packages/mapsforge_flutter/assets/symbols/transport/parking.svg
    - packages/mapsforge_flutter/assets/symbols/transport/parking_private.svg
    - packages/mapsforge_flutter/assets/symbols/transport/rental_bicycle.svg
    - packages/mapsforge_flutter/assets/symbols/transport/slipway.svg
    - packages/mapsforge_flutter/assets/symbols/transport/traffic_lights.svg
    - packages/mapsforge_flutter/assets/symbols/transport/train_station2.svg
    - packages/mapsforge_flutter/assets/symbols/transport/tram_stop.svg
    - packages/mapsforge_flutter/assets/symbols/water/weir.svg
    - packages/mapsforge_flutter/assets/symbols/windsock.svg
    - packages/mapsforge_flutter/assets/symbols/viewpoint.svg